<!-- ============================================ -->
<!--                   Rodapé                      -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
            <p>
                Conteúdo extra, caso você precise. Se não, você pode deletar esta tag p inteira. Normalmente, eu excluo.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Informações</h2>
                    </li>
                    <li>
                        <a href="/">Início</a>
                    </li>
                    <li>
                        <a href="/about">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="/projects">Projetos</a>
                    </li>
                    <li>
                        <a href="/testimonials">Depoimentos</a>
                    </li>
                    <li>
                        <a href="/contact">Contato</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Serviços</h2>
                    </li>
                    <li>Serviço1</li>
                    <li>Serviço2</li>
                    <li>Serviço4</li>
                    <li>Serviço5</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contato</h2>
                    </li>
                    <li>
                        <a href="/contact">Primeira Linha de Endereço<br>Denver CO 80206</a>
                    </li>
                    <li>
                        <a href="tel:555-779-4407">T: (555) 779-4407</a>
                    </li>
                    <li>
                        <a href="mailto:email@email.com">Clique para Enviar um E-mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Projetado e Codificado por</span>
        <a href="" target="_blank" rel="noopener">Nome da Sua Empresa</a>
        <span class="copyright"> Copyright 2021 - Presente</span>
    </div>
</footer>
