<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Substituir pelo link real -->
        <link rel="canonical" href="https://{{ client.domain }}{{ page.url }}">

        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">

        <!-- Exibição em Redes Sociais -->
        <meta property="og:title" content="{{ metaTitle }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="/images/social.jpg"/>
        <meta property="og:image:secure_url" content="/images/social.jpg"/>

        <!-- Ícones de Favoritos -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Pré-carregamento -->
        <link rel="preload" as="image" href="/assets/logo-light.png">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/dark.css">

        <link rel="preload" as="image" href="{{ preloadImg }}"/>

        <!-- Carregamento de folhas de estilo específicas da página -->
        <link rel="stylesheet" href="/css/critical.css"/>
        <link rel="stylesheet" href="{{ preloadCSS }}">

        <!-- Coloque a tag de análise aqui no final para evitar bloqueio de renderização -->

        <!-- Para a página inicial, usar o título completo, incluindo a localização para SEO.
             Outras páginas devem incluir apenas o nome da página -->
        <title>
            {% if page.url == '/'%}
                {{ client.name }} | {{ tagTitle }} | {{ client.address.city }}, {{ client.address.county }}
            {% else %}
                {{ tagTitle }} | {{ client.name }}
            {% endif %}
        </title>
    </head>
    <body>
        <!-- Atalho para leitores de tela pularem para o conteúdo principal -->
        <a class="skip" aria-label="pular para o conteúdo principal" href="#main">Clique para ir direto ao conteúdo principal</a>

        {% include "header.html" %}
        <main id="main">{{ content | safe }}</main>
        {% include "footer.html" %}

        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/dark.js"></script>

        <!--
        Este script adiciona uma classe ao corpo da página após rolar 100px.
        Usamos os estilos body.scroll para criar algumas animações ao rolar,
        especialmente na barra de navegação.
        -->
        <script defer>
            document.addEventListener('scroll', (e) => {
                const scroll = document.documentElement.scrollTop;
                if (scroll >= 100) {
                    document
                        .querySelector('body')
                        .classList
                        .add('scroll')
                } else {
                    document
                        .querySelector('body')
                        .classList
                        .remove('scroll')
                }
            });
        </script>

    </body>
</html>
