---
layout: 'base.html'
description: 'Meta descrição para a página'
metaTitle: 'Título que aparece nas pesquisas do Google'
tagTitle: 'Blog'
preloadImg: '/images/cabinets2-1920w.webp'
preloadCSS: '/css/blog.css'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

<!-- Insira o código HTML abaixo -->
<!-- ============================================ -->
<!--                    CABEÇALHO                  -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Blog</h1>
    {% image './src/images/cabinets2.jpg', 'armários', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>

<!-- ============================================ -->
<!--              CONTEÚDO PRINCIPAL               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
    <!-- Conteúdo principal -->
    <div class="main-content">
        <!-- ============================================ -->
        <!--                 Artigos do Blog               -->
        <!-- ============================================ -->

        {% if collections.post | length == 0 %}
            <h1>Sem postagens recentes</h1>
        {% endif %}
        {%- for post in collections.post | reverse -%}
            <article class="recent-articles">
                <!-- Imagem Principal do Artigo -->
                <picture class="blog-mainImage">
                    <img
                        src="{{ post.data.image }}"
                        alt="{{ post.data.imageAlt }}"
                        width="795"
                        height="400"
                        decoding="async"
/>
                </picture>
                <!-- Informações do Artigo -->
                <div class="article-group">
                    <div class="blog-authorGroup">
                        <!-- Imagem do Autor -->
                        <picture class="blog-author-img">
                            <img
              src="/assets/svgs/profile.svg"
              alt="perfil"
              width="32"
              height="32"
              decoding="async"
/>
                        </picture>
                        <span class="blog-author">{{ post.data.author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!-- Data da Postagem -->
                        <span class="blog-date">{{ post.date | postDate }}</span>
                    </div>
                    <h2 class="blog-h1">
                        {{ post.data.blogTitle }}
                    </h2>
                    <p class="blog-desc">
                        {{ post.data.blogDescription }}
                    </p>
                    <a href="{{ post.url }}" class="blog-link">Continuar lendo</a>
                </div>
            </article>
        {%- endfor -%}
    </div>

    <!-- ============================================ -->
    <!--                Posts em Destaque             -->
    <!-- ============================================ -->

    {% include 'featured-post.html' %}
</div>
